
<div data-role="header" data-position="fixed" data-theme="b"
 style="
	width:800px;
    margin-left : auto ; margin-right : auto;">
  <div data-role="navbar">
    <ul>
      <li><%= link_to "検索",categories_path %></li>
      <li><%= link_to "メッセージ",messages_path %></li>
      <li><%= link_to "プロフィール",profile_user_path(@current_user.id) %></li>
    </ul>
  </div>
  
  <h1>エキスパートを探す</h1>
</div>

<div date-role="content"
  style="background:none repeat-x scroll 0 0 #e6e6fa;
	width:800px;
	margin-left : auto ; margin-right : auto;">

     <%= form_tag(:tag_experts,:method => "get",:style=>"background: #r") do %>
    <%= submit_tag "検索する" %>
 

   <div>

    <ul data-role="listview">
    

    

      <% @parents.each do |parent| %>

        <!-- 親カテゴリーを表示 -->
        <li class="category" style="background: #e6e6fa;">
          <span style="color: blue"><strong><%= parent.name =%></strong></span>
        </li>

        
          <!-- 子カテゴリーを表示　-->
          <% parent.children.each do |child| %>
           
            <div class="expert_tag_div">
                <label class="expert-tag">
                    <%= check_box_tag 'category[]',child.id %>
                    <%= child.name %>
                </label>

            </div>

          <% end %>
        
      <% end %>
    </ul>
  <% end %>

</div>
</div>










