<div data-role="header" data-position="fixed" data-theme="b"

    style="
	width:800px;
    margin-left : auto ; margin-right : auto;
    ">

  <div data-role="navbar">

    <ul>
      <li><%= link_to "エキスパート一覧",:root %></li>
      <li><%= link_to "メッセージ",box_messages_path %></li>
      <li><%= link_to "プロフィール",profile_user_path(@current_user.id)%></li>
      
    </ul>
    
  </div>
</div>



<div data-role="content"
style="background:none repeat-x scroll 0 0 #e6e6fa;
	width:770px;
	height:800px;
	margin-left : auto ; margin-right : auto;"
>

  <p>メッセージボックス</p>
    
    <% if @messages %>

      <!--　メッセージ簡易表示する。 -->
      <ul data-role="listview" data-theme="c">
        
        <% @messages.each do |message| %>
          
            
            <!-- ログインユーザーが、ユーザーとしてセッションを組んだ場合。 --> 
            <% if @current_user.id == message.session.user_id %>
            <li style="background: #e6e6fa;">
         
              <a href="/sessions/<%= message.session.id %>/messages">
                
                <% if message.post_id == @current_user.id %>
                  自分からエキスパート(<%= User.find(message.session.expert_id).name %>)さんへ質問。
                  <%= image_tag(User.find(message.session.expert_id).image,:size=>'60x60',:class=>'user_image') %>  
                  
                <% else %>
                  エキスパート(<%= User.find(message.session.expert_id).name %>)さんから回答。
                  <%= image_tag(User.find(message.session.expert_id).image,:size=>'60x60',:class=>'user_image') %> 
                <% end %>

                <!--　チャット中、終了、パスかどうかを表示する。-->
                <div class="session_status">
                    <% if message.session.status == Settings.free_status || message.session.status == Settings.charge_status %>
                    <span class="chat-t">チャット中</span>
                    <% elsif message.session.status == Settings.pass_status %>
                    <span class="pass-t">パス</span>
                    <% elsif message.session.status == Settings.end_status %>
                    <span class="pass-t">終了</span>
                    <% end %>
                </div>

                <br />
                メッセージ: <%= message.content %> 

              </a>

            <!-- ログインユーザーがエキスパートとして、セッションを組んだ場合。 -->
            <% else %>
            　  <li style="background: #B0C4DE;">
              <a href="/sessions/<%= message.session.id %>/messages">
            
                <% if message.post_id == @current_user.id %>
                  自分から質問者(<%= User.find(message.session.user_id).name %>)さんへ回答。
                  <%= image_tag(User.find(message.session.user_id).image,:size=>'60x60',:class=>'user_image') %>
                <% else %>
                  質問者(<%= User.find(message.session.user_id).name %>)から。
                  <%= image_tag(User.find(message.session.user_id).image,:size=>'60x60',:class=>'user_image') %>
                <% end %>
                
                
                <!--　チャット中、終了、パスかどうかを表示する。--> 
                <% if message.session.status == Settings.free_status || message.session.status == Settings.charge_status %>
                  <span class="chat-t">チャット中</span>
                <% elsif message.session.status == Settings.pass_status %> 
                   <span class="pass-t">パス</span>
                <% elsif message.session.status == Settings.end_status %> 
                  <span class="pass-t">終了</span>
                <% end %> 
                
                <br />
                メッセージ: <%= message.content %> 
              </a>

            <% end %>

          </li>
        <% end %>
  
      </ul>

    <% else %>
      
      <p>一度もセッションを組んでいません</p>

    <% end %>

</div>


  





















