
<div data-role="content">

  <h1>カテゴリー新規作成</h1>
    
  <p><%= link_to "戻る",admin_categories_path %></p>
  
  
  <%= form_for [:admin,@category],:html => {"data-ajax" => "false" } do |form| %>

    <table> 
      

      <tr>
        <th><%= form.label :parent_id ,"親カテゴリー"%></th>
        <td><%= form.select :parent_id,@parent_categories %></td>
      </tr>
      
      <tr>
        <th><%= form.label :name ,"子カテゴリー"%></th>
        <td><%= form.text_field :name %></td>
      </tr>
      
      <tr>
        <td><%= form.submit "新規作成" %></td>
      </tr>

    </table>
    
  <% end %>



</div>














